@mixin card-height {
  height: $card-height__small;
  @media (min-width: $tablet-portrait-up) {
    height: $card-height__large;
  }
  @media (min-width: $large-desktop-up) {
    height: $card-height__extra-large;
  }
}

@mixin scale-card-background-image {
  overflow: hidden;
  [class*="__background-image"] {
    transition: transform .3s ease-in-out;
  }
  &:hover {
    [class*="__background-image"] {
      transform: scale(1.1);
    }
  }
}
