@mixin card-height {
  height: $card-height__small;
  @media (min-width: $tablet-portrait-up) {
    height: $card-height__large;
  }
  @media (min-width: $large-desktop-up) {
    height: $card-height__extra-large;
  }
}
