*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: $font-regular;
  margin: 0;
  padding: 0;
  border: 0;
  color: $text;
  outline-offset: 5px;
}

html {
  &::-webkit-scrollbar {
    background-color: #707374;
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $blue-1;
    border-radius: 15px;
    &:hover {
      background-color: darken($blue-1, 10);
    }
  }
}

body, #__nuxt, #__layout, #app {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

small {
  font-size: 13px;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}