// Colors
$black: #000;
$white: #FFF;
$red-1: #E52C2C;
$green-1: #065B4B;
$golden-1: #CCB750;
$blue-1: #021A26;
$blue-2: #3C507B;
$gray-1: #696868;
$gray-2: #232323;

$text: $gray-1;
$text-darker: $gray-2;

$font-light: 300;
$font-regular: 400;
$font-semibold: 500;
$font-bold: 600;