// Colors
$black: #000;
$white: #FFF;
$red-1: #E52C2C;
$green-1: #065B4B;
$golden-1: #CCB750;
$blue-1: #021A26;
$blue-2: #3C507B;
$gray-1: #696868;
$gray-2: #232323;

$text: $gray-1;
$text-darker: $gray-2;

// Font
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;

$font-family-arbutus-slab: 'Arbutus Slab', serif;

// Viewport breakpoints
$large-smartphone-up: 375px;
$tablet-portrait-up: 600px;
$large-tablet-portrait-up: 768px;
$tablet-landscape-up: 900px;
$large-tablet-landscape-up: 992px;
$desktop-up: 1200px;

// Spacing
$mobile-padding: 16px;

// Header
$header-height__mobile: 64px;
$header-height__desktop: 90px;